CONFIG_APP_NO_BLOBS=y

CONFIG_APP_RETRIEVE_LEN_ELF_SHA=16

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_120M=y

# CONFIG_PARTITION_TABLE_SINGLE_APP is not set
CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_PARTITION_TABLE_FILENAME="partitions_two_ota.csv"

CONFIG_ESP_SLEEP_PSRAM_LEAKAGE_WORKAROUND=y
# CONFIG_ESP_SLEEP_GPIO_RESET_WORKAROUND is not set
# CONFIG_ESP_SLEEP_EVENT_CALLBACKS is not set

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_SIZE=0x8000
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_SIZE=0x10000
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_ESP32S3_DATA_CACHE_LINE_SIZE=64

# CONFIG_ESP_SYSTEM_MEMPROT_FEATURE is not set

# CONFIG_MCPWM_ISR_CACHE_SAFE is not set
# CONFIG_PM_POWER_DOWN_CPU_IN_LIGHT_SLEEP is not set

# CONFIG_ESP_INT_WDT is not set
CONFIG_ESP_DEBUG_STUBS_ENABLE=n
CONFIG_ESP_DEBUG_OCDAWARE=n

CONFIG_LIBC_TIME_SYSCALL_USE_HRT=y