CONFIG_APP_REPRODUCIBLE_BUILD=y

CONFIG_FATFS_VOLUME_COUNT=2
CONFIG_FATFS_LFN_STACK=y
CONFIG_FATFS_SECTOR_4096=y
CONFIG_FATFS_CODEPAGE_437=y
CONFIG_FATFS_MAX_LFN=255
# CONFIG_FATFS_PER_FILE_CACHE is not set
CONFIG_FATFS_ALLOC_PREFER_EXTRAM=y
CONFIG_FATFS_IMMEDIATE_FSYNC=y
CONFIG_FATFS_USE_LABEL=y

CONFIG_ESP_NETIF_TCPIP_LWIP=n
CONFIG_ESP_NETIF_LOOPBACK=n
CONFIG_ESP_NETIF_USES_TCPIP_WITH_BSD_API=n
CONFIG_ESP_NETIF_REPORT_DATA_TRAFFIC=n

CONFIG_TINYUSB_DEBUG_LEVEL=1
CONFIG_TINYUSB_MSC_ENABLED=y
CONFIG_TINYUSB_MSC_BUFSIZE=4096
CONFIG_TINYUSB_MSC_MOUNT_PATH="/data"
CONFIG_TINYUSB_DFU_MODE_DFU=y
CONFIG_TINYUSB_DFU_BUFSIZE=1024

# CONFIG_SPI_SLAVE_ISR_IN_IRAM is not set

# CONFIG_ESP_ERR_TO_NAME_LOOKUP is not set

CONFIG_FREERTOS_HZ=200
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_NONE=y
CONFIG_FREERTOS_USE_TICK_HOOK=y
CONFIG_FREERTOS_TIMER_TASK_PRIORITY=3
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096
# CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS is not set
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_FREERTOS_IDLE_TIME_BEFORE_SLEEP=3
# CONFIG_FREERTOS_TLSP_DELETION_CALLBACKS is not set
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_FREERTOS_DEBUG_OCDAWARE=n
CONFIG_FREERTOS_TASK_NOTIFICATION_ARRAY_ENTRIES=2

CONFIG_LOG_COLORS=y

CONFIG_LIBC_NEWLIB_NANO_FORMAT=y

# CONFIG_SPI_FLASH_ENABLE_ENCRYPTED_READ_WRITE is not set

# CONFIG_VFS_SUPPORT_SELECT is not set
# CONFIG_VFS_SUPPORT_TERMIOS is not set

CONFIG_IDF_EXPERIMENTAL_FEATURES=y

CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTION_LEVEL=0
CONFIG_COMPILER_ASSERT_NDEBUG_EVALUATE=n
CONFIG_COMPILER_WARN_WRITE_STRINGS=y

#CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT is not set
# CONFIG_ESP_SYSTEM_PANIC_GDBSTUB is not set
CONFIG_ESP_SYSTEM_PANIC_REBOOT_DELAY_SECONDS=10

CONFIG_ESP_SYSTEM_EVENT_QUEUE_SIZE=16
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=0
CONFIG_ESP_MAIN_TASK_STACK_SIZE=3000
# CONFIG_ESP_INT_WDT is not set
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=n

CONFIG_HEAP_ABORT_WHEN_ALLOCATION_FAILS=y

CONFIG_LV_CONF_SKIP=n